{% extends 'base.html' %}


{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <h1>Dashboard</h1>
        <ul class="list-group">
            <li class="list-group-item active">Your subscriptions</li>
            {% if subscriptions %}
                {% for profile in subscriptions %}
                    <li class="list-group-item">
                        {{ profile.subscription }}
                        <div class="btn-group pull-right">
                            <a class="btn btn-info" href="{{ profile.get_absolute_url }}">Informations</a>
                            <a class="btn btn-danger" href="">Delete</a>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">No subscriptions yet</li>
            {% endif %}
        </ul>
        <br>
        <ul class="list-group">
            <li class="list-group-item active">Your followers</li>
            {% if followers %}
                {% for profile in followers %}
                    <li class="list-group-item">{{ profile.profile }}</li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">No followers yet</li>
            {% endif %}
        </ul>

        <br>
        <a href="{% url 'subscription_add' %}" class="btn btn-primary">Add a subscription</a>
    </div>
{% endblock %}
