{% extends 'base.html' %}

{% block title %}Card List{% endblock %}

{% block content %}
    <div class="container">
        <h1>Card List</h1>
        {% if card_list %}
            <ul>
                {% for card in card_list %}
                    <li>
                        <a href="{{ card.get_absolute_url }}" data-toggle="popover-img" data-img="{{ card.img }}">{{ card }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no cards in the library.</p>
        {% endif %}
    </div>
{% endblock %}
