{% extends 'base.html' %}

{% block title %}Deck List{% endblock %}

{% block content %}
    <div class="container">
        <h1>Deck List</h1>
        <a href="{% url "deck_add" %}">Creér un deck</a>
        {% if deck_list %}
            <ul>
                {% for deck in deck_list %}
                    <li>
                        Deck {{ deck }} :
                        <a href="{% url "deck_detail" deck.id %}">Voir</a>
                        <a href="{% url "deck_edit" deck.id %}">Éditer</a>
                        <a href="">Supprimer</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any deck yet</p>
        {% endif %}
    </div>
{% endblock %}
