{% extends "base.html" %}


{% block title %}{% endblock %}

{% block content %}
    {% load core_tags %}

    {% assign cards None %}
    {% if deck != None %}
        {% assign cards deck.cards.all %}
    {% endif %}

    <div class="container">
        <form class="form-signin" method="post">
            {% if form.errors %}
                <h2>Errors : </h2>
                {{ form.errors }}
                {{ form.fields.cards.all }}
            {% endif %}

            {% csrf_token %}
            <div class="form-group">
                <label>Deck Name</label>
                {{ form.name|boostrap_input }}
            </div>
            <table class="table table-bordered table-striped" id="dataTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Health</th>
                    <th>Attack</th>
                    <th>Set name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for card in form.fields.cards.queryset %}
                    <tr>
                        <td>{{ card.name }}</td>
                        <td>{{ card.health }}</td>
                        <td>{{ card.attack }}</td>
                        <td>{{ card.card_set.name }}</td>
                        <td>
                            <label>
                                <input type="checkbox" class="card-checkbox" name="cards" value="{{ card.id }}"
                                        {{ card|checked_in:cards }}>
                            </label>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Health</th>
                    <th>Attack</th>
                    <th>Set name</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>

            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Send</button>
        </form>
    </div>
{% endblock %}
