{% extends "base.html" %}


{% block title %}{% endblock %}

{% block content %}
    {% load core_tags %}

    <div class="container">
        <form class="form-signin" method="post">
            {% if form.errors %}
                <h2>Errors : </h2>
                {{ form.errors }}
                {{ form.fields.cards.all }}
            {% endif %}

            {% csrf_token %}
            <div class="form-group">
                <label>Deck Name</label>
                {{ form.name|boostrap_input }}
            </div>
            <div class="form-group">
                <label for="cards_select">Cards</label>
                <select name="cards" id="cards_select" class="form-control" multiple>
                    {% for card in card_list %}
                        <option value="{{ card.id }}"
                                data-img="{{ card.cardPlayer.img }}">{{ card.cardPlayer.name }}</option>
                    {% endfor %}
                </select>

            </div>

            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Send</button>
        </form>
    </div>
{% endblock %}
