{% extends 'base.html' %}

{% block title %}Deck {{ deck.name }}{% endblock %}

{% block content %}
    <div class="container">
        <a class="btn btn-flat btn-info btn-sm margin-bottom10" href="{% url 'deck_list' %}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to the list
        </a>

        <div class="row">
            <div class="col-md-12">
                <b>Deck {{ deck.name }}</b>
                {% if is_current_user %}
                    <a href="{% url "deck_edit" deck.id %}" class="btn btn-flat btn-warning margin-bottom10">
                        Éditer le deck
                    </a>
                    <a href="{% url 'deck_delete' deck.id %}" class="btn btn-flat btn-danger margin-bottom10">
                        Supprimer le deck
                    </a>
                {% endif %}
            </div>

            {% for deck_card in deck_cards.all %}
                <div class="col-md-6">
                    {% include "core/part/card.html" with card=deck_card.player_card.card %}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
