{% extends 'base.html' %}

{% block title %}Deck {{ deck.name }}{% endblock %}

{% block content %}
    <div class="container">
                <a href="{% url "deck_list" %}" class="d-inline-block mb-2 text-primary bold">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Back to the list
            </a>

        <div class="row">
            {% for card in deck.cards.all %}
                <div class="col-md-6">
                    {% include "core/part/card.html" with card=card %}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
