{% extends 'base.html' %}

{% block title %}Deck List{% endblock %}

{% block content %}
    <div class="container">
        <h1>Deck List</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if deck_list %}
                {% for deck in deck_list %}
                    <tr>
                        <td>{{ deck.name }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url "deck_detail" deck.id %}">View</a>
                            <a class="btn btn-warning" href="{% url "deck_edit" deck.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url "deck_delete" deck.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">no records found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <a class="btn btn-info mb-2" href="{% url "deck_add" %}">Create a deck</a>
    </div>
{% endblock %}
