{% extends 'base.html' %}
{% block title %} Detail {% endblock %}

{% block content %}
    <div class="container">
        <a class="btn btn-flat btn-info btn-sm margin-bottom20 margin-top5"
           href="{% url 'dashboard' %}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Dashboard
        </a>

        <div class="card card-shadow">
            <div class="card-body">
                <h2 class="card-title">Details for user {{ subscription_profile.subscription }}</h2>
                <a href="{% url 'profile_user_card_list' subscription_profile.subscription.id %}"
                   class="btn btn-outline-secondary margin-bottom10">
                    {{ subscription_profile.subscription|capfirst }} cards
                </a>
                <a href="{% url 'profile_messages' subscription_profile.subscription.id %}"
                   class="btn btn-outline-secondary margin-bottom10">
                    Speak with {{ subscription_profile.subscription|capfirst }}
                </a>

                <table class="table table-background">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Detail</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile_action in profile_actions %}
                        <tr>
                            <td>{{ profile_action.action }}</td>
                            <td>{{ profile_action.data }}</td>
                            <td>{{ profile_action.created_at }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
