body {
    background-color: red;
    min-height: 75rem;
    padding-top: 4.5rem;
}


.popover-img, .popover-img .arrow:after {
    background: none;
    border: none;
}

.pointer {
    cursor: pointer;
}

/*.select2-container--default .select2-results>.select2-results__options {*/
    /*max-height: 500px;*/
/*}*/